/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  */

body {
  background: url(https://i.redd.it/z1q2k9ygok661.jpg);
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
}

header {
  background-image: url(https://pbs.twimg.com/media/DaHWJ-5W4AAQ2t6?format=jpg&name=medium);
  background-size: contain;
}

header h1,
header h1 img {
  display: inline;
}

header h1 img {
  width: 400px;
}

header nav {
  display: block;
  float: right;
}

header nav {
  margin-top: 32px;
}

header nav ul {
  margin: auto;
  padding: 0;
}

header nav ul li {
  border: 5px solid;
  border-color: orange;
  background-color: white;
  display: inline-block;
  font-style: italic;
  font-weight: bold;
}

header nav ul li a {
  padding: 6px;
}

header div {
  display: block;
  float: right;
  margin-top: 32px;
  margin-right: 32px;
}

header .search input {
  border: 4px solid;
  border-color: darkgreen;
  width: 250px;
}

p {
  font-style: normal;
  font-size: large;
}

main .smallinfo .vanilla,
main .smallinfo .tbc,
main .smallinfo .wotlk {
  display: inline-block;
  text-align: center;
  width: 1280px;
  margin-left: 300px;
  margin-top: 150px;
  background-blend-mode: overlay;
  color: white;
  backdrop-filter: blur(2px);
  font-weight: bolder;
}

main .smallinfo .vanilla h1,
main .smallinfo .tbc h1,
main .smallinfo .wotlk h1 {
  font-size: xx-large;
}

main .smallinfo .vanilla h1 {
  color: rgb(247, 212, 166);
}

main .smallinfo .tbc h1 {
  color: rgb(138, 255, 107);
}

main .smallinfo .wotlk h1 {
  color: rgb(0, 204, 255);
}

footer {
  border-top: 5px solid black;
  margin-top: 500px;
}

footer .trademark {
  display: inline-block;
  margin-left: 16px;
  color: yellow;
  font-weight: 900;
}

footer .trademarkheader {
  display: inline-block;
  margin-left: 150px;
  font-weight: 900;
  color: blue;
  font-size: xx-large;
}

footer .contact {
  display: block;
  margin-right: 16px;
  float: right;
  color: yellow;
  font-weight: 900;
}

footer .contactheader {
  display: inline;
  margin-left: 50px;
  font-weight: 900;
  color: blue;
  font-size: xx-large;
}

footer .trademark ul,
footer .contact p {
  margin-top: 16px;
}
