* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.whole {
  padding: 0 54px;
}

body {
  background-color: rgb(214, 209, 209);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 36px;
}

header h1 a {
  font-size: 24px;
  gap: 24px;
}

span {
  font-size: 16px;
  font-weight: 100;
}

header h1::before {
  content: "";
  display: inline-block;
  border: 1px solid black;
  border: none;
  border-radius: 50%;
  background-color: orange;
  width: 20px;
  height: 20px;
}

nav ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.lia {
  font-size: 18px;
}

.lia:hover {
  font-size: 22px;
  transition: 0.3s;
  color: rgb(82, 80, 80);
}

.middlea {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 24px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  border-top: 1px solid black;
  padding: 36px 24px;
}

main h1 {
  padding: 24px 264px 56px;
  font-size: 54px;
}

.workexp h3 {
  font-size: 24px;
  font-weight: 900;
}

main .workexp {
  display: flex;
  justify-content: space-between;
  padding: 0 264px;
}

.workexpdiv {
  max-width: 350px;
}

.workexpdiv div {
  padding-top: 48px;
}

.workexpdiv h4 {
  color: black;
  font-weight: 100;
  font-size: 18px;
}

.workexpdiv p,
.workexpdiv div p {
  padding-bottom: 26px;
}

.phead {
  font-size: 24px;
  font-weight: 900;
}

.workexpdivheader {
  position: absolute;
  right: 686px;
}

.education {
  margin-top: 56px;
  border-top: 1px solid black;
}

.education h3,
.education div {
  padding-top: 96px;
}

.workexpdiv ul li {
  padding: 16px 0;
}
