* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 98px;
  background-color: #ffffff;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 49px;
  margin-top: 37px;
  margin-left: 1085px;
  width: 215px;
}

nav ul li a {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00446a;
  text-decoration: none;
}

.am2 {
  width: 78.94px;
  height: 28.91px;
  margin-top: 26px;
  margin-left: 140px;
}

footer {
  background-image: url(pictures/bckgr.png);
  background-color: #ffffff03;
  backdrop-filter: blur(200px);
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  margin-top: 89px;
}

.footermain {
  display: flex;
  justify-content: space-between;
  padding: 60px 140px;
}

.footermain .footerleft img {
  width: 124px;
  height: 63px;
}

.footermain .footerleft p {
  width: 329px;
  height: 48px;
  padding-top: 16px;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
}

.footermain .footerright {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.footermain .footerright h2 {
  font-family: Inter;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2d2c2c;
}

.footermain .footerright .info,
.footermain .footerright .infolinks {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.footermain .footerright .infolinks {
  padding-top: 11px;
}

.footermain .footerright a {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 12.38px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #424242;
  text-decoration: none;
}

.section1 {
  background-image: url(pictures/bckgr.png);
  backdrop-filter: blur(140px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 157px;
}

.section1 img {
  width: 729px;
  height: 538px;
}

.section1 .contact {
  width: 414px;
  height: 538px;
  display: flex;
  flex-direction: column;
}

.section1 .contact h1 {
  font-family: Roboto;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #00446a;
}

.section1 .contact p {
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #585858;
  padding-top: 30px;
}

.section1 .contactinput {
  display: flex;
  flex-direction: column;
  gap: 19px;
  margin-top: 48px;
}

.section1 .contactinput input {
  height: 48px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 34px 0px #00446a26;
  background-color: #ffffff;
}

.section1 .contactinput textarea {
  height: 180px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 0px 34px 0px #00446a26;
  background-color: #ffffff;
}

.section1 .contactinput button {
  height: 48px;
  border-radius: 4px;
  border: none;
  background-color: #00446a;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}
