* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 196px;
  background-color: hsl(217, 54%, 11%);
}

.container {
  width: 350px;
  background-color: hsl(216, 50%, 16%);
  padding: 24px;
  border-radius: 8px;
}

.image-equilibrium {
  width: 100%;
  border-radius: 8px;
}

.image-equilibrium:hover {
  opacity: 0.3;
  cursor: pointer;
  background: url(images/icon-view.svg);
  background-color: hsl(178, 100%, 50%);
}

.image-avatar {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
}

h1 {
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding: 24px 0;
}

h1:hover,
span:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

p {
  font-family: "Outfit", sans-serif;
  color: hsl(215, 51%, 70%);
  padding: 8px 0;
  display: flex;
  gap: 6px;
}

.ethereum {
  color: hsl(178, 100%, 50%);
}

span {
  color: hsl(0, 0%, 100%);
}

.icon-flex {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
}

.icon-flex1 {
  display: flex;
  gap: 16px;
  align-items: center;
  border-top: 1px solid hsl(215, 32%, 27%);
  padding-top: 12px;
}
