* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.formradius {
  display: flex;
  margin: 36px 564px;
  background: linear-gradient(
    #ff4d9c 0%,
    #a933ff 30%,
    #d65aff 60%,
    #6e00ff 100%
  );
}

form {
  background-color: rgb(53, 51, 51);
  border-radius: 16px;
  width: 500px;
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px 24px 72px 24px;
}

.header {
  color: white;
  display: flex;
  margin: auto; /* აქ რატომ დასჭირდა margin? form-ზე ხომ მქონდა მითითებული? */
}

.flex {
  display: flex;
  gap: 16px;
}

.collumn {
  display: flex;
  flex-direction: column;
  width: 100%; /* აქ რატომ დასჭირდა width? input-ზე ხომ მქონდა მითითებული? */
  gap: 6px;
}

label {
  color: white;
}

input,
textarea {
  width: 100%;
}

span {
  color: red;
}

.border {
  border: 1px solid black;
  border-radius: 30px;
  padding: 6px;
}

.textareaborder {
  padding: 16px;
}

.labelmargin {
  margin-left: 8px;
}

button {
  border: none;
  border-radius: 30px;
  padding: 8px;
  width: 96px;
  text-align: center;
  margin: auto;
  background-color: rgb(247, 50, 109);
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin-top: 32px;
}
