/* დავალება 1 */

/* div {
  background-color: aqua;
  padding: 24px;
} */

header {
  padding: 0 24px;
}

header h1 {
  display: inline;
}

header nav {
  display: block;
  float: right;
}

header nav ul {
  padding: 0;
}

header nav ul li {
  display: inline-block;
}

a {
  padding: 0 12px;
}

h1,
a {
  color: black;
  text-decoration: none;
}

main,
main section {
  width: 100%;
}

main section .users-table {
  margin: auto;
  border-collapse: collapse;
}

main section .users-table,
main section .users-table th,
main section .users-table td {
  border: 1px solid black;
}

main section .users-table th,
main section .users-table td {
  padding: 8px 16px;
}

main .register {
  width: calc(100% - 192px);
  padding: 96px;
}

main .register form .input-group {
  width: 100%;
  margin: 16px 0;
}

main .register form .input-group label,
main .register form .input-group input {
  width: 100%;
  display: block;
}

main .register form button {
  float: right;
}
