* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

button,
input,
select {
  cursor: pointer;
}

img {
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
        to bottom,
    #24c6dc 0%,
    #514a9d 51%,
    #24c6dc 100%
  );; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #47838b 0%,
    #514a9d 51%,
    #24c6dc 100%
  );; 
  border-radius: 10px;
}

/*------------------------------ header ------------------------------*/

header {
  padding: 12px 24px;
  border-bottom: 2px solid black;

  display: flex;
  /* flex-direction: column-reverse; */

  align-items: center;
  justify-content: space-between;
}

header img {
  max-width: 96px;
}

header nav {
  display: flex;
  gap: 12px;
}

header nav a {
  color: rgba(0, 0, 0, 0.564);
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px 12px;
  border-radius: 20px;
  transition: 0.3s;
}

header nav a:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.248);
}

/*------------------------------ main ------------------------------*/
main {
  display: flex;

  min-height: 100vh;
}

aside {
  width: 20vw;
  min-height: 100%;
  background-color: rebeccapurple;
}

section {
  width: 100%;
  height: 100%;
}


/*-------------------- forms --------------------*/


.form-container {
    padding: 32px;
}
.input-group {
  position: relative;
  width: 100%;
}

.input,
textarea {
  border-bottom: solid 1.5px #9e9e9e;
  width: 100%;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #171717;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 0px;
  color: #383838;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
  outline: none;
  border-bottom: 1.5px solid #1a73e8;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  left: -6px;
  color: #2196f3;
}

textarea {
  resize: vertical;
}
textarea:focus {
  outline: none;
  border-bottom: 1.5px solid #1a73e8;
}
textarea:focus ~ label {
  transform: translateY(-50%) scale(0.8);
  left: -6px;
  color: #2196f3;
}

.double-input {
  display: flex;
  gap: 32px;
}

form {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
padding: 40px;
  gap: 32px;
box-shadow: rgba(17, 17, 26, 0.02) 0px 4px 16px, rgba(17, 17, 26, 0.04) 0px 8px 32px;  max-width: 600px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #24c6dc 0%,
    #514a9d 51%,
    #24c6dc 100%
  );
}
.btn-grad {
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  max-width: 200px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
